*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#f0f5f5;
    color: #fff;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
   
}



.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
    @media(max-aspect-ratio: 16/9){
        .back-video{
            width: auto;
            height: 100%;
        }



}}



#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
    
}
.logo{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.title h2{
    font-family: Josefin Sans;
    color: #fff;
    font-size: 60px;
    margin-top: 10%;
    
    
}
.title h2 span{
    color:#fcc603;
}
.header-text{
    margin-top: 05%;
    font-size: 30px;
    
}
.header-text h1{
    font-size: 60px;
    margin-top: 05px;
    color:#42ed13;
    
}
.header-text h2{
    color: #fff;
}
.header-text h3{
   
    color: #fff;
}
.auto-type{
    color: #312e36;
}
.header-text h1 span{
    color: #ff004f;
}
nav .fa-solid{
    display: none;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#services{
    padding: 1px 0;
}
.sub-title{
    margin-top: 10px;
    color: #080808;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #fff;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;  
}
.basic{
    color: #ff004f;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: black;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #0d072e;
    text-align: center;
}
.services-list  ul li{
    color: black;
    margin-bottom: -15px;
    list-style: none;
    font-size: 12px;   
    font-weight: bold;
}
.services-list div h4{
    font-size: 15px;
    
    margin-bottom: 5px;
    color: #0d072e;
    text-align: center;
}
.services-list div h4 button{
    font-size: 15px;
    padding: 5px 10px;
    background: #542ed1;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
   
}
.services-list div h3{
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #26155e;
    text-align: center;
}
.book{
    margin-bottom: 50px;
    margin-top: -15px;
    background: #ff004f;
    width: 100%;
    padding: 15px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.services-list ul li i{
    color: #ff004f;
    font-size: 18px;
    padding: 0 05px;
}
.services-list ul li .fa-solid{
    color: #42ed13;
    font-size: 18px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.testimonial{
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #fff;
    
}
.testimonial img{
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
}
.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.testimonial p{
    font-size: 12px;
    margin: 12px 0;
    color: #080808;
}
.testimonial h3{
    font-weight: 600;
    font-size: 16px;
    color: black;
}
.fa-star{
    color: #ff523b;
}

.container h3{
    
    margin-top: 1px;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btnq{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
.btnq:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btnq:disabled{
    cursor: no-drop;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #3d3a3a;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.msg-btn{
    display: inline-block;
    margin-bottom: 50px;
    margin-top: -15px;
    background: #09e318;
    width: fit-content;
    padding: 15px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
nav .fa-solid{
    display: none;
}
.copy{
    color: #fff;
}
.q span{
    color:#0bd919

}
.q{
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url()
    }
    
    
    .back-video{
            
             width:100%;  
    }
    
    
    .header-text{
        margin-top: 15%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 35px;
        color: #42ed13;
    
    }
    .header-text .title h2{
        font-size: 50px;
    }
    .header-text h3{
        font-size: 17px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:black;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.services-list  ul li{
    color: black;
    margin-bottom: -15px;
    list-style: none;
    font-size: 15px;
    
    
   
}

}
